timm
ultralytics
transformers>=4.40.0
accelerate>=0.26.0
omegaconf
fast_simplification
seaborn
easyocr
rembg
supervision
RapidFuzz
loguru
h5py
torch<=2.4
torchvision
torchmetrics
opencv-python
numpy
ImageIO
pillow
scipy
scikit-image
ultralytics
onnxruntime-gpu
